.greyBackground {
  background: #202020;
}

h1 {
  color: #b80000;
  text-align: center;
  font-weight: bold;
  font-size: 25.626px;
}

.cardHeader {
  color: #cccc00;
}

.cardContent {
  color: #eeffee;
}

.greyBackgroundCard {
  background: #606060;
}
