<ion-header>
  <ion-navbar>
    <ion-title>
      Aktion
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="greyBackground">
  <h1>Aktion des Monats</h1>
  <div *ngFor="let monthaction of MonthActionsArray">
  <ion-card class="greyBackgroundCard">
    <ion-card-header class="cardHeader">
      {{monthaction.heading}}
    </ion-card-header>
    <ion-card-content class="cardContent" color="custom-white">
      {{monthaction.body}}
    </ion-card-content>
  </ion-card>
  </div>
  <h1>Aktion der Woche</h1>
  <div *ngFor="let weekaction of WeekActionsArray">
  <ion-card class="greyBackgroundCard">
    <ion-card-header class="cardHeader">
      {{weekaction.heading}}
    </ion-card-header>
    <ion-card-content class="cardContent">
      {{weekaction.body}}
    </ion-card-content>
  </ion-card>
  </div>
  <h1>Specials</h1>
  <div *ngFor="let special of SpecialsArray">
  <ion-card class="greyBackgroundCard">
    <ion-card-header class="cardHeader">
      {{special.heading}}
    </ion-card-header>
    <ion-card-content class="cardContent">
      {{special.body}}
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
